@use "../../index.scss" as *;

.er_approve {
    background-color: $green !important;
    color: $white !important;
  }
.info {
    background-color: $text-gray;
    border-radius: 4px;
    padding: 6px;
    color: $white;
    font-size: 14px;
  }