$white: #FFFFFF;
$light-gray: #F4F4F4;
$soft-peach: #FFF9F4;
$dark-gray: #262626;
$peach: #FFE6C6;
$medium-gray: #D1D1D1;
$light-dark-gray: #97999B;
$very-light-gray: #E5E5E5;
$near-black: #23272B;
$black: #000000;
$green: #28A745;
$light-gray-2: #EAEAEB;
$lt-blue: #0D7DF8;
$blue: #30688C;
$md-gray: #8B8B8B;
$darkest-gray: #383838;
$d-red: #AA421D;
// $red: #F4364C;
$red: #E83E37;
$lighter-gray: #CCCCCC;
$gray-2: #222222;
$purple: #B14EB5;
$light-gray-3: #E8E8E8;
$dark-gray-2: #343A40;
$blue-gray: #3B464F;
$very-light-gray-2: #F8F8F8;
$light-gray-4: #E3E3E3;
$medium-gray-2: #909090;
$gray-3: #9C9EA0;
$gold: #FEC410;
$orange: #FFA400;
$bright-orange: #FF9300;
$yellow: #F4B91B;
$dark-gray-3: #6A6A6A;
$text-gray:#98999B;
$white-smoke:#F3F3F3;
$teal: #00B0B9;
$beige:#FDEFD7;
$lt-grey: #FAFAFA;
$lt-grey-2: #D9D9D9;
$dk-grey: #363636;
$lighter-border-gray: #e0e0e0;



